*{
    margin: 0;
    padding: 0;
}

html{ 
    font-size: 62.5%;
    font-family: 'DM Serif Text', serif;
}

a{
    text-decoration: none;
}


/*header*/
.div-logo {
    display: grid;
  place-items: center;
}

.logo {
   
    width: 15rem;
    margin: 50px, 0;
   
}

.logo:hover {
    transform: scale(1.2) ;
}
 

@media (min-width: $tablet) {
  .logo {
    width:20rem;
    margin-top: 50px;
    margin: 0, auto;
  }
}

@media (min-width: $desktop) {
    .logo {
      width:25rem;
      margin-top: 50px;
      margin: 0, auto;
    }
  }

 
 .offcanvas-title{
    font-size: $fuente-media;
  }

.nav-item {
    font-size: $fuente-chica;
        a:hover{
            color: $color-secundario;
        }
        
}

/*footer*/
footer{
       background-color: $color-terciario;
}

.footer {
    padding: 2rem;
}